.hero{
    margin-top: 40px;
}

.tagline{
    background: #f8d7da;
    color: #d9534f;
    padding: 8px 15px;
    display: inline-block;
    border-radius: 20px;
    font-size: 14px;
}

h1 {
    font-size: 36px;
    margin-top: 10px;
    font-weight: bold;
}

h1 span {
    color: #840adb;
}

p {
    margin: 10px 0;
}

.search-box {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box input {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.search-box button {
    margin-left: -40px;
    background: #840adb;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
}

/* Category Buttons */
.category-buttons {
    margin-top: 20px;
}

.category-buttons button {
    margin: 10px;
    padding: 10px 15px;
    border: 1px solid #ccc;
    background: white;
    border-radius: 20px;
    cursor: pointer;
}

.category-buttons .role {
    font-weight: bold;
}