<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InternSync</title>

    <!-- Link to CSS files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='header_logged.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='hero.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='internship.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='footer.css') }}">
    
    <style>
        .logout-button {
            background-color: #dc3545;
            color: white;
            margin-left: 10px;
            padding: 8px 15px;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            font-weight: bold;
            transition: background-color 0.3s;
            text-decoration: none;  /* This removes the underline */
        }
        
        .logout-button:hover {
            background-color: #c82333;
        }
    </style>
</head>
<body>
    <header>
        <div class="logo" style="text-align: left">Intern<span>Sync</span></div>
        <nav class="main-nav">
            <a href="{{ url_for('home_logged_in') }}">Home</a>
            <a href="https://roadmap.sh/">RoadMap</a>
            <a href="{{ url_for('list_intern') }}">Internships</a>
            <a href="{{ url_for('resources') }}">Resources</a>
        </nav>
        <div class="user-info">
            <span style="margin-left: 10px;" class="username">{{ session['username'] }}</span>
            <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
        </div>
    </header>
    
    <!-- Include all sections -->
    {% include 'Hero.html' %}
    {% include 'Internship.html' %}
    {% include 'Footer.html' %}
    {% include 'Chat_front.html' %}
</body>
</html>