<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{{ url_for('static', filename='internship.css') }}">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <title>Internship</title>
</head>
<body>
    <section class="internships" style="text-align: left; margin-left: 2%;">
        <h2 style="font-size: 2.0em; font-weight: bold;"><span>Latest & Top</span> Internship</h2>
        <br> 
        <div class="cards-container" style="display: flex; flex-wrap: wrap; gap: 80px;">
            <a href="/description/12345" class="card">  <!-- Clickable card linking to job description -->
                <div>
                    <h1 class="company-name">Youtube</h1>
                    <p class="location">India</p>
                </div>
                <div>
                    <h1 class="job-title">Frontend Developer</h1>
                    <p class="job-description">Looking for an experienced React developer.</p>
                </div>
                <div class="badges">
                    <span class="badge blue">2 Positions</span>
                    <span class="badge red">3 Months</span>
                    <span class="badge purple">10-15k</span>
                </div>
            </a>

            <a href="" class="card">  <!-- Clickable card linking to job description -->
                <div>
                    <h1 class="company-name">Amazon</h1>
                    <p class="location">India</p>
                </div>
                <div>
                    <h1 class="job-title">Python Developer</h1>
                    <p class="job-description">Looking for an experienced Python developer.</p>
                </div>
                <div class="badges">
                    <span class="badge blue">2 Positions</span>
                    <span class="badge red">3 Months</span>
                    <span class="badge purple">1-5k</span>
                </div>
            </a>

            <a href="/description/12345" class="card">  <!-- Clickable card linking to job description -->
                <div>
                    <h1 class="company-name">Flipkart</h1>
                    <p class="location">India</p>
                </div>
                <div>
                    <h1 class="job-title">Java Developer</h1>
                    <p class="job-description">Looking for an experienced java developer.</p>
                </div>
                <div class="badges">
                    <span class="badge blue">2 Positions</span>
                    <span class="badge red">3 Months</span>
                    <span class="badge purple">6.9K</span>
                </div>

                <a href="/description/12345" class="card">  <!-- Clickable card linking to job description -->
                    <div>
                        <h1 class="company-name">Netflix</h1>
                        <p class="location">India</p>
                    </div>
                    <div>
                        <h1 class="job-title">Data Scientist</h1>
                        <p class="job-description">Looking for an experienced React developer.</p>
                    </div>
                    <div class="badges">
                        <span class="badge blue">1 Positions</span>
                        <span class="badge red">3 Months</span>
                        <span class="badge purple">11k-12k</span>
                    </div>
                </a>
            </a>
        </div>
    </section>
</body>
</html>